/*
Crear un selector para las clases "tnr" que afecte solo a las etiquetas P. 
Dicho selector pondrá el tipo de letra como Times New Roman, un tamaño de 
letra de 5 pixeles y en negrita. Comprobar que funcione creando dos etiquetas.
*/

p.tnr{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
}

/*
Crear un selector para todas las etiquetas H1. Dicho selector capitalizará 
las letras que contenga y las pondrá de color azul. Comprobar que funcione 
creando dos etiquetas.
*/

h1{
    text-transform: capitalize;
    color: blue;
}

/*
Crear un selector por id "especial". Dicho selector dejará un espacio entre 
las letras de 3px y un espacio entre las palabras de 8 px. Además dejará un 
sangrado inicial de 10px. Comprobar que funcione para una etiqueta H2
*/

#h2especial{
    letter-spacing: 3px;
    word-spacing: 8px;
    text-indent: 10px;
}

/*
Crear un selector para las clases "h3esp" que afecte solo a las etiquetas H3. 
Dicho selector dará un ancho de 30% y pondrá el texto a la derecha. Comprobar 
que funcione creando 2 etiquetas
*/

h3.h3esp{
    text-align: right;
    width: 30%;
}

/*
Crear un selector para las clases "pesp" que afecte solo a las etiquetas P. 
Dicho selector pondrá el texto justificado, un ancho de 500px y un color de 
fondo amarillo. Probar que funcione en una etiqueta y ayudándote de un 
generador de texto.
*/

p.pesp{
    text-align: justify;
    width: 500px;
    background-color: yellow;
}